/* DON USE PX ON QUERIES */
/* rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em =16px */


/**********************************/
/* BELLOW 1344px (smaller desktops) */
/**********************************/

@media (max-width:84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
  }

  .galery {
    grid-template-columns: repeat(2, 1fr);

  }

  .pricing-plan--complete::after {
    content: "Best Value";
    position: absolute;
    top: 5%;
    right: -19%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    background-color: #ffd43b;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
  }
}


/**********************************/
/* BELLOW 1200px (landscape tablets) */
/**********************************/
/* ⬇️MOST IMPORTANT CHANGE⬇️ */
@media (max-width:75em) {
  html {
    /* 9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  /* ⬆️MOST IMPORTANT CHANGE⬆️ */
  .grit {
    column-gap: 4.8rem;
    row-gap: 3rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}


/**********************************/
/* BELLOW 944px ( tablets) */
/**********************************/

@media (max-width:59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem
  }

  .hero-img {
    max-width: 60%;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.4rem 3.4rem 3.4rem;
  }

  .section-testimonial {
    grid-template-columns: 1fr;
  }

  .galery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    /* 3/5 = 60% + 2/5 = 40%  */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION */

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.58);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }


}




/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  */

/* - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */