/* DON USE PX ON QUERIES */
/* rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em =16px */


/**********************************/
/* BELLOW 1344px (smaller desktops) */
/**********************************/

@media (max-width:84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
  }

  .galery {
    grid-template-columns: repeat(2, 1fr);

  }

  .pricing-plan--complete::after {
    content: "Best Value";
    position: absolute;
    top: 5%;
    right: -19%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    background-color: #ffd43b;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
  }
}


/**********************************/
/* BELLOW 1200px (landscape tablets) */
/**********************************/

@media (max-width:75em) {
  html {
    /* 9px / 16px = 56.25% */
    font-size: 56.25%;
  }
}



/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  */

/* - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */